<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item <%= pages.home %>">
      <a class="nav-link" href="/admin-home">
        <i class="material-icons">dashboard</i>
        <p>الرئيسية</p>
      </a>
    </li>
    <li class="nav-item <%= pages.profile %>">
      <a class="nav-link" href="/admin-profile">
        <i class="material-icons">person</i>
        <p>الصفحة الشخصية</p>
      </a>
    </li>
    <li class="nav-item <%= pages.users %>">
      <a class="nav-link" href="/users">
        <i class="material-icons">wc</i>
        <p>مستخدمي النظام</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">
        <i class="material-icons">exit_to_app</i>
        <p>تسجيل الخروج</p>
      </a>
    </li>
  </ul>
</div>
